.DS_Store
.idea
skillshare
related work
presentation.key
paper/.texpadtmp
paper/out
impl/models
impl/.ipynb_checkpoints
impl/__pycache__
impl/.env
impl/demo.ipynb
results/plots
results/tables
results/.ipynb_checkpoints
results/__pycache__
